$colorPrimary: #226fc1;
$colorSecond: rgb(247, 142, 22);

.articulo{
    .titulo{
        color: $colorPrimary;
    }
    p{
        color: $colorPrimary;
        a{
            color: $colorSecond;
        }
    }

    
    div{
        text-align: center;
        a{
            text-decoration: none;
            font-size: 25px;
            color: $colorSecond;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}